.secVdiv {
  padding: 30px;
  background-color: lightgray;
}

.sec2h1 {
  text-align: center;
}
.sec2para {
  text-align: center;
  color: rgb(100, 94, 94);
}
.facialcare {
  background-color: goldenrod;
  padding: 7px 15px;
  color: whitesmoke;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: fit-content;
}
.gal1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}
.facialcare1 {
  width: 18em;
  height: auto;
  border-radius: 15px;
}
.facialcare2 {
  width: 18em;
  height: auto;
  border-radius: 15px;
}
.facialcare3 {
  width: 18em;
  height: auto;
  border-radius: 15px;
}
.massage {
  text-align: center;
  margin-top: 20px;
}
.massage span {
  color: blue;
}
