* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}
nav {
  background-color: rgb(158, 123, 8);
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  padding: 15px 30px;
  height: 50px;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
}
li {
  color: black;
  list-style-type: none;
}
li:hover {
  color: lightgray;
}
.name {
  display: flex;
}
.lists {
  display: flex;
  justify-content: right;
  gap: 30px;
}
.home {
  text-decoration: none;
}
.services {
  text-decoration: none;
}
.booking {
  text-decoration: none;
  color: black;
}

@media (max-width: 600px) {
  nav {
    display: none;
  }
}
