.section3 {
  padding: 30px 30px 0px 30px;
  background-color: rgb(204, 168, 50);
  display: flex;
  justify-content: space-between;
}
.sec3div {
  text-align: center;
  color: whitesmoke;
  margin-top: 30px;
  box-sizing: border-box;
}
.sec3div button {
  border-style: none;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: white;
  color: black;
}
.beaut4 {
  width: 17em;
  height: 13em;
}
.beaut5 {
  width: 17em;
  height: 13em;
}
@media (max-width: 864px) {
  .section3 {
    display: block;
    padding-top: 0px;
  }
  .beaut4 {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .beaut5 {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
