.bookcontent {
  background-color: whitesmoke;
}
.booktop {
  background-color: goldenrod;
  padding: 10px 25px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 50px;
}
.bookdiv {
  padding: 130px;
}
.bookhead {
  text-align: center;
  margin-bottom: 10px;
}
.bookpara {
  text-align: center;
}
.innerhead {
  text-align: center;
}
.bookingform {
  background-color: white;
  width: fit-content;
  border-radius: 20px;
  padding: 50px 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
