.secVIdiv {
  padding: 30px;
  background-color: whitesmoke;
}

.sec2h1 {
  text-align: center;
}
.sec2para {
  text-align: center;
  color: rgb(100, 94, 94);
}
.manicare {
  background-color: goldenrod;
  padding: 7px 15px;
  color: whitesmoke;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: fit-content;
}
.gal1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  flex-wrap: wrap;
}
.manicare1 {
  width: 18em;
  height: auto;
  border-radius: 15px;
}
.manicare2 {
  width: 18em;
  height: auto;
  border-radius: 15px;
}
.manicare3 {
  width: 18em;
  height: auto;
  border-radius: 15px;
}
.massage {
  text-align: center;
  margin-top: 20px;
}
.massage span {
  color: blue;
}
.book6 {
  border-radius: 20px;
  padding: 9px 50px;
  background-color: rgb(143, 99, 17);
  border-style: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}
